
.container-usuario .acesso-sistema {
  margin-top: 25px;
}
.acesso-sistema {
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}
.acesso-sistema .slide-primary {
  left: 50%;
  margin-left: -15px;
  position: relative;
  top: 5px;
}
.acesso-sistema .modulo {
  font-family: asapbold, sans-serif;
  font-size: 15px;
}
.acesso-sistema .ativo label {
  font-family: asapregular, sans-serif;
  font-size: 14px;
}
.acesso-sistema .bloqueado label {
  font-family: asapregular, sans-serif;
  text-align: right;
}
.acesso-sistema .ios-switch {
  height: 15px;
  width: 35px;
}
.acesso-sistema .ios-switch.on .handle {
  -o-transform: translate3d(22px, 0, 0);
  -ms-transform: translate3d(22px, 0, 0);
  -moz-transform: translate3d(22px, 0, 0);
  -webkit-transform: translate3d(22px, 0, 0);
  transform: translate3d(22px, 0, 0);
}
.acesso-sistema .ios-switch .state-background {
  background: rgba(140, 198, 63, 0.7);
  border: 0;
}
.acesso-sistema .slide-primary .ios-switch .on-background {
  background: rgba(140, 198, 63, 0.8);
  border: 0;
}
.acesso-sistema .ios-switch .handle {
  width: 20px;
  height: 20px;
  top: -3px;
  left: -3px;
  background: rgba(140, 198, 63, 1);
}
.itens-sistema {
  padding: 25px;
  margin-bottom: 25px;
}
.itens-sistema h2 {
  font-size: 16px;
  font-family: geogrotesque_lglight, sans-serif;
  border-bottom: 1px solid #000;
  border-radius: 2px;
  color: #000;
  line-height: 25px;
  margin: 15px 0;
  border-radius: 0;
}
.itens-sistema label {
  font-family: asapregular, sans-serif;
}
.itens-sistema ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}
.itens-sistema ul li label {
  font-size: 12px;
  font-family: asapregular, sans-serif;
}
.bt-cadastrar {
  color: #fff;
  position: relative;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  font-size: 16px;
  font-family: asapitalic, sans-serif;
  cursor: pointer;
}
.bt-cadastrar:hover {
  background-color: #2F63BC;
  color: #fff;
}
.bt-remover {
  position: relative;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  font-size: 16px;
  font-family: asapitalic, sans-serif;
  cursor: pointer;
  background-color: rgba(255, 111, 111, 0.8);
  color: rgba(255, 255, 255, 1)
}
.bt-remover:hover {
  background-color: rgba(255, 111, 111, 1);
  color: rgba(255, 255, 255, 1);
}

/* CADASTRO DE INDICADOR FINANCEIRO */


.defasagem { overflow: hidden; }
.defasagem label { display: block; }
.defasagem div { width: 30%; display: block; float: left; margin-right: 2%; }
.defasagem div input.form-control { width: 50px; display: block; float: left; margin-right: 5px; border: 1px solid #e5e9ec !important; border-radius: 3px !important; }
.defasagem div label { display: block; position: relative; margin-top: 8px; }

@media screen and (max-width: 990px) {
  .defasagem { margin: 15px 0; }
}


/* CHECKBOX MÓDULOS */


.itens-sistema.bg-azul-claro-20 .checkbox label::before {
  border: solid 1px #02A8F3;
}
.itens-sistema.bg-amarelo-escuro-20 .checkbox label::before {
  border: solid 1px #F8C82D;
}


/* VIEW USUARIO */


.foto-perfil {
  width: 100%;
}
.view-usuario h1 {font-family: geogrotesque_mdmedium, sans-serif; font-size: 35px;}
.view-usuario div {font-family: geogrotesque_lglight, sans-serif; color: #000;}
.view-usuario div.dados {font-size: 16px;}
.view-usuario div.sigla-secretaria {font-size: 26px;}
.view-usuario div.nome-secretaria {font-size: 20px;}
.view-usuario div.contato {font-size: 20px;}
.mini-menu { background: url(../img/mini-menu.svg) no-repeat center center; position: relative; display: block; float: right; top: -15px; right: -20px; width: 20px; height: 30px;}
.acesso-sistema .assessoria span {
  display: block;
  width: 100%;
  position: relative;
  padding: 5px 0;
  font-family: asapregular,sans-serif;
  font-size: 15px;
}
.info { 
  background: url(../img/bt-info.svg) no-repeat center center;
  background-size: contain;
  display: inline-block; 
  text-indent: -999px; 
  overflow: hidden; 
  width: 28px; 
  height: 28px;
  top: 0;
  margin-left: 10px;
  position: absolute;
}
.acesso-sistema .assessoria .modulo {
  line-height: 60px;
}
.acesso-sistema .auditoria .ultimo-acesso {
  font-family: asapregular,sans-serif;
  font-size: 15px;
}
.acesso-sistema .auditoria .detalhar {
  display: inline-block; 
  text-indent: -999px; 
  overflow: hidden; 
  width: 28px; 
  height: 28px;
  top: -3px;
  margin-left: 15px;
  position: absolute;
}
/**********************************
  Login
***********************************/
body.login{
}

/**********************************
  HEADER
***********************************/
header{
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  background-color: #000 !important;
}

/**********************************
  Módulos do Sistemas
***********************************/
.mini-stats-content i{
  font-size: 50px;
  color: #fff;
}

/**********************************
  Lista
***********************************/
table.table {
  margin-top: 25px !important;
}
.table thead th {
  font-size: 12px;
}
.table tbody tr td {
  font-size: 12px;
}
.table tbody tr td span.badge {
  font-size: 12px;
}
.table tbody tr td i.status {
  font-size: 18px;
}
/* .table tbody tr td a i {
  font-size: 18px;
} */

/**********************************
  AVALIAÇÃO
***********************************/
.btn-evaluate {
  padding: 0;
}
.btn-evaluate div, .btn-evaluate span{
  display: block;
  float: left;
}
.btn-evaluate div{
  background-color: rgba(0, 0, 0, .4);
  padding: 0 5px;
}
.btn-evaluate div i{
  font-size: 30px;
}
.btn-evaluate span{
  font-size: 14px;
  font-weight: bold;
  padding: 12px;
}

.st{
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
}
.st h1{
  padding: 10px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 24px;
}
.st span{
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 0 0 5px;
  margin: 0;
}
.st-approved{
  background-color: rgb(70, 205, 147);
  color: #fff;
}
.st-returned{
  background-color: rgb(248, 33, 22);
  color: #fff;
}
.st-waiting{
  background-color: rgb(253, 177, 44);
  color: #000;
}
.st-registered{
  background-color: rgb(101, 91, 230);
  color: #fff;
}

/* MODAL */
.modal-evaluation .modal-header h5{
  font-weight: bold;
  margin: 0;
}
.modal-evaluation .modal-header h5 i{
  font-size: 26px;
}

.inputGroup {
  background-color: #c1c1c1;
  display: block;
  margin: 10px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.10);
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-weight: bold;
  transition: color 200ms ease-in;
  overflow: hidden;
  margin: 0;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #D1D7DC;
  background-color: #fff;
  font-family: "Material Design Icons";
  font-size: 19px;
  color: #fff;
  content: "\F12C";
  text-align: center;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup label.return:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #D1D7DC;
  background-color: #fff;
  font-family: "Material Design Icons";
  font-size: 19px;
  color: #fff;
  content: "\F44F";
  text-align: center;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input:checked ~ label.return:after {
  background-color: #FDB12C;
  border-color: #FDB12C;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
