/*
** codespot customize
*/
@media only screen and (max-device-width: 1024px) {
    .image-boxes .hoverborder .hoverborderwrapper .thehoverborder,
    .hoverborder .hoverborderwrapper .thehovermore,
    .hoverhomebackgroundwrapper .details>.bg,
    .hoverhomebackgroundwrapper .hover .thehover,
    .hoverborder .hoverborderwrapper .thehoverborder,
    .hoverbackgroundwrapper .hover .thehover,
    .hoverbackgroundwrapper .details>.bg,
    .navbar .hovermenuwrapper > li > a > .bg-down{
        display: none;
    }
    .hoverbackgroundwrapper a:hover .details h4,
    .hoverhomebackgroundwrapper a:hover .details h4{
        color: #a07936;
    }
}
@media only screen and (max-device-width: 1199px){    
    .hoverBorder:hover img{
        /*filter: none !important;    */
        -webkit-filter: none !important;
    }
    .bg-above-footer.parallax{
        background-attachment: scroll !important; 	
    }
    .fancybox-nav span{visibility:visible}

    .btn:focus,.group_btn .btn:focus,
    a:focus, select:focus, input:focus, button:focus{
        outline: none !important;    
    }
    .btn.add-to-cart:focus{
        outline: none !important;    
    }
}  
/*===================================================================================*/
/*=====================================================================================*/
/* large desktop */
@media (min-width: 1441px) {

}
@media (min-width: 1200px) and (max-width: 1236px) {
    .row {
        margin-right: 0;
    }
}
@media (max-width: 1200px){
    .product-ajax-qs,
    .quick_shop {
        display: none;
    }
}
/*IPAD TO LANDSCAPE*/
@media (max-width: 1199px){
    /*Header*/
    .customer-links {
        width: 86%;
    }
    .top-logo {
        text-align: center;
    }
    .top-navigation ul li.top-logo {
        width: 20%;
    }
    .top-navigation ul li.navigation {
        width: 68%;
    }
    .top-navigation ul li.umbrella {
        padding-left: 0;
    }
    #home_blog .home-blog-item .date {
        width: 70px;
        height: 70px;
    }
    @-moz-document url-prefix() {   
        .header-search input {
            padding-left: 5px;
            padding-right: 5px;
            width: 45%;
        }
    }
    /*End Header*/
    /*Slideshow*/
    .camera_caption.camera_caption_3, .camera_caption.camera_image-caption_3, .camera_cta_3 {
        margin-right: calc((100% - 980px) / 2);
        top: 57%;
    }
    .home-slider-wrapper .camera_title_1, 
    .home-slider-wrapper .camera_title_5, 
    .home-slider-wrapper .camera_title_2, 
    .home-slider-wrapper .camera_caption_1, 
    .home-slider-wrapper .camera_caption_5, 
    .home-slider-wrapper .camera_caption_2, 
    .home-slider-wrapper .camera_mc_1, 
    .home-slider-wrapper .camera_mc_5, 
    .home-slider-wrapper .camera_mc_2, 
    .home-slider-wrapper .camera_cta_1, 
    .home-slider-wrapper .camera_cta_2, 
    .home-slider-wrapper .camera_cta_5, 
    .camera_caption.camera_image-caption_1, 
    .camera_caption.camera_image-caption_2, 
    .camera_caption.camera_image-caption_5 {
        top: 55%;
    }
    .home-slider-wrapper .camera_title_2,
    .home-slider-wrapper .camera_caption_2, 
    .home-slider-wrapper .camera_mc_2, 
    .home-slider-wrapper .camera_cta_2, 
    .camera_caption.camera_image-caption_2 {
        top: 65%;
    }
    /*End Slideshow*/
    /*Feature Products _ Homepage*/
    .price_sale,
    .price {
        font-size: 50px;
    }
    #home_blog .home-blog-content {
        padding-left: 60px;
    }
    .element form .row-right .effect-ajax-cart button {
        font-size: 11px;
    }
    .collection-page .element.full_width .row-right .effect-ajax-cart {
        margin-left: 0;
    }
    /*End Feature Products _ Homepage*/
    /*Collection*/
    .element.full_width .row-right {
        width: 69%;
    }
    .allcollections-page .container-item:hover .collection-action::after {
        border: 75px solid rgba(255, 255, 255, 0.9);
    }
    .featured-products button.btn {
        font-size: 9px;
    }
    .collection-full #sandBox .element.no_full_width {
        width: 33.3%;
    }
    /*End Collection*/
    /*Detail product*/
    .variants-wrapper .selector-wrapper:nth-child(1) {
        margin-bottom: 15px;
    }
    /*End Detail product*/
    /*Detail right sidebar*/
    .product-page.no_full_width #gallery_main .owl-wrapper-outer .owl-item img {
        padding-right: 20px;
    }
    /*End Detail right sidebar*/
    /*Effect hover product*/
    .element ul li.row-right .hover-appear .wish-list {
        border-left: 1px solid #dcdcdc;
    }
    .element ul li.row-right .product-content-left {
        width: 60%;
    }
    .element ul li.row-right .product-content-right {
        width: 40%;
    }
    #sandBox .element.full_width ul:hover li.row-right .hover-appear {
        margin-top: 0;
    }
    .element.full_width ul li.row-right .hover-appear .wish-list {
        border-left: 0;
    }
    /*End Effect hover product*/
}
@media (max-width: 1024px){
    /*Header*/
    header#top.affix {
        display: none;
    }
    .navbar-nav > li {
        padding: 7px 14px;
    }
    .navigation ul.navbar-nav > li > a:after {
        margin-right: -18px;
    }
    .top-navigation ul li.navigation,
    .top-navigation ul li.top-logo {
        width: 100%;
        text-align: center;
        display: block;
    }
    .top-navigation ul li.top-logo {
        float: left;
        width: auto;
    }
    .top-navigation ul li.navigation {
        clear: both;
        position: relative;
    }
    .top-navigation ul li.top-logo img {
        text-align: center;
        margin: 20px auto;
    }
    .top-navigation ul li.navigation .navbar .navbar-collapse.collapse {
        text-align: center;
        margin: 0 auto;
        display: inline-block !important;
        *display: block !important;
        zoom: 1 !important;
    }
    .top-navigation ul li.top-search {
        display: inline-block;
        *display: block; 
        zoom: 1;
        text-align: right;
        padding-right: 20px;
        width: auto;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 70px;
        margin-top: 20px;
    }
    .top-navigation ul li.top-search .header-search i.fa {
        vertical-align: 3px;
    }
    .top-navigation ul li.umbrella {
        text-align: left;
        display: inline-block;
        *display: block; 
        zoom: 1;
        width: auto;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20px;
    }
    #umbrella {
        float: left;
    }
    .top-navigation ul li.top-search .header-search {
        display: inherit;
    }
    #umbrella .cart-link:after {
        margin-top: 5px;
    }
    #umbrella .cart-link a {
        padding-left: 10px;
    }
    .navbar-nav > li.mega-menu {
        position: relative;
    }
    #top nav.navbar li .dropdown-menu.megamenu-container-1 {
        left: 0px;
        right: auto;
    }
    #header-search.dropdown-menu:before {
        right: 7%;
    }
    #umbrella .dropdown-menu {
        left: auto;
        right: 0;
    }
    #cart-info:before {
        right: 10%;
    }
    .navbar-nav > li.mega-menu {
        position: static;
    }
    #top nav.navbar li .dropdown-menu.megamenu-container-2,
    #top nav.navbar li .dropdown-menu.megamenu-container-1 {
        margin-top: -15px;
    }
    /*End Header*/
    /*NewProducts_Homepage*/
    .element > ul .row-right .effect-ajax-cart {
        position: static;
        margin-left: 0;
    }
    .element > ul:hover .row-right .effect-ajax-cart {
        margin-top: 0;
    }
    .element .row-left button.wish-list, 
    .element .row-left .wish-list {
        text-align: center;
        margin-right: 0;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .element .row-left a img,
    .element ul:hover .row-left a img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    .element .row-left .hoverBorderWrapper {
        -moz-transition: 0;
        -webkit-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .element .row-right .effect-ajax-cart button {
        -moz-transition: 0;
        -webkit-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .element .row-right .effect-ajax-cart,
    .element .row-left .wish-list {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-transition: 0;
        -webkit-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .element .row-left .wish-list,
    .element .row-left button.wish-list {
        bottom: 0;
    }
    #home_fp .element .row-left .wish-list {
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }
    .element.full_width .row-left .wish-list {
        left: 0;
        right: 0;
        text-align: center;
        margin-right: 0;
    }
    .element.full_width .row-right .effect-ajax-cart {
        text-align: left;
        position: static;
    }
    .home_products .element .row-left .product-price {
        opacity: 1;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .home_products .element ul:hover .row-right:after {
        border: none;
    }
    .home_products .hoverBorder {
        top: 110% !important;
        left: auto !important;
        right: auto;
        text-align: center;
        width: 100%;
    }
    .price_sale, 
    .price {
        font-size: 40px;
        line-height: 40px;
    }
    /*End NewProducts_Homepage*/
    /*Home Collection*/
    .allcollections-page .container-item .collection-action, 
    .home_collections_item .collection-details .collection-action {
        background: #fff;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: 0.8;
    }
    /*End Home Collection*/
    /*Collection*/
    .collection-full #sandBox .element.no_full_width {
        width: 33.3%;
    }
    .allcollections-page .container-item .collection-action:after {
        border: 0;
        transition: 0;
        -webkit-transition: 0;
        -moz-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
    }
    .allcollections-page .container-item:hover .collection-action:after {
        border: 0;
    }
    .allcollections-page .container-item .collection-action a {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: 0;
        -moz-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .item {
        margin-bottom: 50px;
        overflow: visible;
    }
    .allcollections-page .collection-item .collection-title {
        line-height: 20px;
    }
    .element .row-right span.price_sale, 
    .element .row-right span.price {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .collection .element.full_width .row-left .hoverBorder a.wish-list {
        top: 82%;
        left: 117%;
    }
    .collection .row-left .hoverBorder form.contact-form button {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    .collection .row-left:hover .hoverBorder form.contact-form {
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -moz-transition-delay: 0;
        -webkit-transition-delay: 0;
        -o-transition-delay: 0;
        -ms-transition-delay: 0;
        transition-delay: 0;
    }
    .collection .row-left .hoverBorder form.contact-form button {
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: 0;
        -moz-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 158%;
    }
    .collection .element.full_width .row-left .hoverBorder form.contact-form {
        top: 80%;
        left: 86%;
    }
    /*End Collection*/
    /*Category*/
    .collection .element .row-left:hover .hoverBorder .overlay_mask {
        border: 0;
    }
    .element .row-left .hoverBorder .overlay_mask {
        border: 0;
        -webkit-transition: 0;
        -moz-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .element .row-left .wish-list,
    .element .row-left form.contact-form button {
        opacity: 1;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition: 0;
        -moz-transition: 0;
        -o-transition: 0;
        -ms-transition: 0;
        transition: 0;
    }
    .collection .element .row-left .hoverBorder a.wish-list,
    .collection .element .row-left .hoverBorder form.contact-form button {
        top: 159%;
    }
    .collection .element.full_width .row-left:hover .hoverBorder .overlay_mask {
        border: 0;
    }
    .element.full_width .row-left .hoverBorder .overlay_mask {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    .element.full_width .row-right .effect-ajax-cart {
        position: static;
        margin-top: 0;
    }
    .element.full_width ul:hover .row-right .effect-ajax-cart {
        margin-top: 0;
    }
    /*End Category*/
    /*Detail*/
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 160%;  
    }
    .owl-theme .owl-controls {
        right: 8.5%;
    }
    #prod-related-wrapper .row-left .hoverBorder:hover .overlay_mask {
        border: 0;
    }
    /*End detail*/
    /*Shopping cart*/
    table, 
    thead, 
    tbody, 
    tfoot, 
    th, 
    td, 
    tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    table.haft-border tr {
        border: 0;
        border-bottom: 1px solid rgb(204, 204, 204);
        width: 100%;
        margin-bottom: 0;
    }

    table.haft-border tr.bottom-summary {
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 0;
    }
    .cart-items .action button {
        padding-left: 0;
    }
    table tbody td, 
    table tfoot td {
        padding: 0;
        border: 0;
    }
    #cartform td:nth-of-type(1):before {
        content: "Item";
    }
    #cartform td:nth-of-type(2):before {
        content: "Price";
    }
    #cartform td:nth-of-type(3):before {
        content: "Quantity";
    }
    #cartform td:nth-of-type(4):before {
        content: "Total";
    }
    #cartform td:nth-of-type(5):before {
        content: "Remove";
    }
    td {
        border: none;
        position: relative;
        font-size: 14px !important;
        text-align: left !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    td:before {
        position: absolute;
        top: 50%;
        left: 2%;
        width: 25%;
        margin-top: -10px;
        padding-right: 10px;
        white-space: nowrap;
        text-transform: none;
        font-weight: bold;
    }
    .cart-items .form-control {
        margin: 0;
        text-align: left;
    }
    .bottom-summary td:nth-of-type(1), 
    .bottom-summary td:nth-of-type(2), 
    .bottom-summary td:nth-of-type(5) {
        display: none;
    }
    .cart-items tr td ul {
        padding-bottom: 0;
    }
    /*End Shopping cart*/
    /*Order history*/
    #customer_orders td {
        padding-left: 40% !important;
    }
    #customer_orders td:nth-of-type(1):before {
        content: "Order";
    }
    #customer_orders td:nth-of-type(2):before {
        content: "Date";
    }
    #customer_orders td:nth-of-type(3):before {
        content: "Payment status";
    }
    #customer_orders td:nth-of-type(4):before {
        content: "Fullfillment status";
    }
    #customer_orders td:nth-of-type(5):before {
        content: "Toal";
    }
    /*End Order history*/
    /*Wishlist*/
    .page-wishlist td:nth-of-type(1):before {
        content: "Item";
    }
    .page-wishlist td:nth-of-type(2):before {
        content: "Price";
    }
    .page-wishlist td:nth-of-type(3):before {
        content: "Remove";
    }
    .page-wishlist td:nth-of-type(4):before {
        content: "Add to cart";
    }
    /*End Wishlist*/
    /*Effect hover product*/
    .element ul li.row-right .product-content-right .price_compare {
        padding-top: 0;
    } 
    .collection-full #sandBox .element.full_width ul:hover li.row-right .hover-appear,
    .collection-full #sandBox .element.full_width ul li.row-right .hover-appear {
        margin-top: 0;
    }
    /*End Effect hover product*/
}
@media (max-width: 997px){
    /*Header*/
    @-moz-document url-prefix() {   
        .navbar-collapse {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .top-navigation .navbar ul.navbar-nav {
            float: none;
        }
        /*End Header*/
    }
}
@media (max-width: 991px) {
    /*Header*/
    .templateIndex header#top {
        position: static;
    }
    .customer-links {
        display: block;
        width: auto;
        float: left;
    }
    #accounts li.my-account {
        padding-left: 0;
    }
    #header-search {
        margin-right: -70px;
    }
    .dropdown-menu:before {
        left: 13%;
    }
    #loginBox:before {
        left: 34%;
    }
    .login #loginBox,
    .login:hover #loginBox {
        left: 0;
        right: auto;
    }
    .num-items-in-cart span {
        vertical-align: 2px;
    }
    .top-other-inner.owl-theme .owl-controls .owl-buttons > div.owl-prev, 
    .top-other-inner.owl-theme .owl-controls .owl-buttons > div.owl-next {
        margin-top: 9px !important;
    }
    #top nav.navbar li .dropdown-menu.megamenu-container-1 {
        min-width: 720px;
    }
    .top-other {
        height: 65px;
    }
    /*End Header*/
    /*Home slideshow*/
    .home-slider-wrapper .camera_caption_2 div {
        font-size: 45px;
    }
    .camera_caption.camera_caption_3, 
    .camera_caption.camera_image-caption_3, 
    .camera_cta_3 {
        margin-right: calc((100% - 760px) / 2);
        top: 50%;
    }
    .home-slider-wrapper .camera_title_2, 
    .home-slider-wrapper .camera_caption_2, 
    .home-slider-wrapper .camera_mc_2, 
    .home-slider-wrapper .camera_cta_2, 
    .camera_caption.camera_image-caption_2 {
        top: 50%;
    }
    /*End Home slideshow*/
    /*Dropdown cart*/
    #cart-content .cart-left {
        float: left;
        width: 33%;
    }
    #cart-content .cart-right {
        display: block;
        float: right;
        width: 67%;
    }
    /*End Dropdown cart*/
    /*Home_content*/
    .element ul:hover li.row-right .hover-appear,
    .element ul li.row-right .hover-appear,
    .element.no_full_width ul li.row-right .hover-appear,
    .element.no_full_width ul:hover li.row-right .hover-appear {
        margin-top: -55px;
    }
    .element > ul:hover .row-left .hoverBorderWrapper,
    .element > ul .row-left .hoverBorderWrapper {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    }
    #home_promotion .owl-wrapper .owl-item {
        text-align: center;
    }
    .allcollections-page .container-item .collection-action, 
    .home_collections_item .collection-details .collection-action {
        background: #fff;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        opacity: 0.8;
    }
    .home_collections_item .collection-details .collection-action a {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        transform: scale(1,1,);
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
    }
    .element > ul,
    .element > ul:hover {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    } 
    /*End Home_content*/
    /*Sidebar*/
    .group_sidebar ul.featured-products .sb-info {
        padding-left: 0;
    }
    /*End Sidebar*/
    /*Collection*/
    .element.full_width .row-left {
        width: 30%;
        float: left;
    }
    .element.full_width .row-right {
        float: right;
        width: 66%;
        padding: 0;
    }
    .collection-full .element.full_width .row-right {
        width: 77%;
        padding-left: 20px;
    }
    .group_sidebar ul.featured-products .sb-info {
        padding-left: 15px;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 174%;
    }
    .collection .element.full_width .row-left .hoverBorder form.contact-form {
        top: 116%;
        left: 99%;
    }
    .element.full_width ul li.row-right .hover-appear .wish-list {
        margin: 0 0 0 10px;
    }
    .element.full_width ul li.row-right .product-content-left,
    .element.full_width ul li.row-right .product-content-right {
        padding-top: 10px;
    }
    .element.full_width .row-right .effect-ajax-cart button.select-option {
        padding-left: 2px;
        padding-right: 2px;
    }
    .element form .row-right .effect-ajax-cart button {
        font-size: 8px;
    }
    .filter-tag-group .tag-group#coll-filter-1 ul > li {
        margin-bottom: 5px;
    }
    .collection-page.no_full_width .collection-full #sandBox .element.no_full_width {
        width: 50%;
    }
    /*End Collection*/
    /*Blog*/
    .blogs-item .blogs-image ul li.date {
        margin-top: 30px;
        margin-left: 15px;
    }
    .blogs-item .blogs-image ul > li {
        display: block;
    }
    /*End Blog*/
    /*Search*/
    .search-page form.search-form input.input-block-level {
        width: 50%;
    }
    .search-page form.search-form button.search-submit {
        left: 45%;
    }
    /*End Search*/
    .owl-theme .owl-controls {
        margin-right: 15px;
    }
    /*Newproducts_Homepage*/
    #home_products {
        padding: 5px 0;
    }
    .home_products .hoverBorder {
        top: 115% !important;
    }
    /*End Newproducts_Homepage*/
    /*Blog_Homepage*/
    #home_blog .home-blog-item .date {
        width: 90px;
        height: 90px;
        float: left;
    }
    #home_blog .home-blog-item .date p {
        font-size: 44px;
        line-height: 57px;
    }
    .home-blog-wrapper {
        padding-left: 15px;
        margin-top: 20px;
    }
    #home_blog .home-blog-content {
        padding-left: 0;
        float: right;
        width: calc(100% - 120px);
    }
    /*Blog_Homepage*/
    /*Category*/
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 190%;
    }
    .collection .element.full_width .row-left .hoverBorder a.wish-list {
        left: 123%;
        top: 120%;
    }
    .element.full_width .row-right .list-mode-description {
        margin-bottom: 0;
    }
    /*End Category*/
    /*Footer*/
    .footer-content .footer-link-list {
        width: 25%;
        float: left;
        margin-bottom: 20px;
    }
    .footer-content-bottom .copyright {
        width: 50%;
        float: left;
    }
    .footer-content .footer-link-list:last-child {
        padding-left: 0;
    }
    /*End Footer*/
    /*Detail*/
    .element.no_full_width .row-right .price_compare span.money {
        font-size: 13px;
        line-height: 13px;
    }
    .element.no_full_width .row-right span.price_sale, 
    .element.no_full_width .row-right span.price {
        font-size: 18px;
        line-height: 18px;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        left: 0;
        right: 0;
        text-align: center;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 160%;
    }
    .product-page.no_full_width #gallery_main .owl-wrapper-outer .owl-item img,
    .product-image .product-image-thumb li img {
        max-width: 75px;
    }
    /*End Detail*/
    /*Effect hover product*/
    .element.no_full_width ul li.row-right .hover-appear {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
    }
    .element.no_full_width .row-right span.price_sale, 
    .element.no_full_width .row-right span.price,
    .element ul li.row-right .product-price span.price,
    .element.full_width .row-right .price_sale, 
    .element.full_width .row-right .price {
        font-size: 15px;
    }
    .element.no_full_width .row-right .price_compare span.money {
        font-size: 11px;
    }
    /*End Effect hover product*/
    /*new_footer*/
    #widget-newsletter .store-information,
    #widget-newsletter .contact,
    #widget-newsletter .newsletter {
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
        border-right: 0;
    }
    #widget-newsletter .store-information,
    #widget-newsletter .contact {
        margin-bottom: 20px;
    }
    ul#contact-form li.contact-name,
    ul#contact-form li.contact-email {
        padding-left: 0;
        padding-right: 0;
    }
    /*end new_footer*/
}
@media (min-width: 768px) and (max-width: 991px){
    /*Slideshow*/
    .home-slider-wrapper .camera_title_1 a, 
    .home-slider-wrapper .camera_title_2 a, 
    .home-slider-wrapper .camera_title_3 a {
        font-size: 45px;
        line-height: 45px;
    }
    .home-slider-wrapper .camera_caption_1 div, 
    .home-slider-wrapper .camera_caption_2 div, 
    .home-slider-wrapper .camera_caption_3 div {
        font-size: 12px;
        line-height: 14px;
    }
    /*End Slideshow*/
    /*Header*/
    .top-navigation {
        text-align: center;
    }
    .top-navigation ul li.top-logo {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: auto;
    }
    .navbar-nav > li {
        padding: 7px 18px;
    }
    .navbar-collapse.collapse,
    .navbar-nav > li:first-child,
    #top nav.navbar .nav > li > a:first-child {
        padding-left: 0;
    }
    .top-navigation ul li.top-search .header-search:after {
        margin-top: 19px;
    }
    .top ul.text-right {
        text-align: center;
    }
    @-moz-document url-prefix() { 
        .top-navigation ul li.top-search .header-search:after {
            top: -6px;
            margin-right: -4px;
        }
    }
    /*End Header*/
}
@media (max-width: 785px){ 
    /*Collection*/
    #collections {
        margin-left: -15px;
        margin-right: -15px;
    }
    .item {
        padding-left: 15px;
        padding-right: 15px;
    }
    /*End Collection*/
    /*Detail*/
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 137%;
    }
    /*End Detail*/
}
@media (max-width: 768px){ 
    /*Header*/
    /* this will work for firefox */
    @-moz-document url-prefix() {   
        .top-navigation .navbar ul.navbar-nav {
            float: right;
        }
    }
    .navbar-nav > li.mega-menu {
        position: static;
    }
    .top-navigation ul li.navigation {
        position: relative;
    }
    #top nav.navbar li .dropdown-menu.megamenu-container-1 {
        left: 0;
        right: auto;
        margin-left: 0;
        min-width: 718px;
    }
    /*End Header*/
    /*Home slideshow*/
    .camera_wrap .camera_image-caption_2 img {
        width: 100% ;
    }
    /*End Home slideshow*/
    /*Home product*/
    #partners-container {
        margin-left: 0;
        margin-right: 0;
    }
    /*End Home product*/
    /*Block Blog*/
    .owl-theme .owl-controls {
        margin-right: 35px;
    }
    /*Block Blog*/
    /*Footer*/
    .footer-content {
        padding: 32px 0px 30px;
    }
    .footer-content-bottom {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-content.footer-content-top {
        padding: 55px 0 45px;
    }
    /*End Footer*/
    /*Collection*/
    .element.full_width > ul {
        margin-bottom: 50px;
    }
    #collections.main-has-slidebar .item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .element.no_full_width {
        padding: 0 15px 30px;
    }
    .element .row-right span.price_sale, 
    .element .row-right span.price {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 176%;
    }
    #home_deal_fp .element.full_width {
        margin: 20px 0;
    }
    /*End Collection*/
    /*Category*/
    #sandBox .element.full_width {
        padding-left: 0;
        padding-right: 25px;
    }
    .element.full_width {
        margin: 0 15px 10px;
    }
    /*End Category*/
    /*Detail*/
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 135%;
    }
    #prod-related-wrapper .element.no_full_width {
        padding: 0;
    }
    /*End Detail*/
    /*Detail right sidebar*/
    #product-information.no_full_width {
        margin-left: 0;
        margin-right: 0;
    }
    .product-page.no_full_width #shopify-product-reviews {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .detail-right-slidebar i.fa {
        float: none;
    }
    /*End Detail right sidebar*/
    /*Login*/
    #customer-login {
        width: 60%;
    }
    #customer-login ul.login-wrapper button {
        width: 30%;
    }
    #register-form li.action-last button {
        width: 40%;
    }
    /*End Login*/
    /*Shopping cart*/
    .cart-items tr td ul li.link {
        padding-left: 0;
    }
    /*End Shopping cart*/
    /*Blog*/
    .blogs-item .blogs-image ul.list-inline > li {
        display: block;
    }
    /*End Blog*/
    /*Price table page*/
    #price-table .pt-item .pt-item-top .pt-item-price {
        font-size: 60px;
        padding: 30px 0 20px;
    }
    /*End Price table page*/
    /*Effect product hover*/
    .collection-full #sandBox .element.full_width ul:hover li.row-right .hover-appear,
    .collection-full #sandBox .element.full_width ul li.row-right .hover-appear {
        margin-top: 0;
    }
    /*End Effect product hover*/
    /*Footer*/
    .footer-content .footer-link-list:last-child {
        padding-right: 0;
    }
    /*End Footer*/
}
/* landscape phone to portrait tablet */
@media (max-width: 767px){
    /*Header*/
    .top-navigation ul li.navigation .navbar .navbar-collapse.collapse {
        display: none !important;
        padding-left: 0;
        padding-right: 0;
    }
    .top-navigation ul li.navigation .navbar .navbar-collapse.collapse.in {
        display: block !important;
    }
    .mega-menu:hover .dropdown-menu,
    .nav-item:hover .dropdown-menu {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition-delay: none;
        -moz-transition-delay: none;
        -o-transition-delay: none;
        -ms-transition-delay: none;
        transition-delay: none;
    }
    .navbar-nav .open .dropdown-menu {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.175);
    }
    .mega-menu .dropdown-menu,
    .nav-item .dropdown-menu {
        opacity: 1;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        transform: none;
        transition: none;
        visibility: visible;
    }
    #top nav.navbar li.dropdown .dropdown-menu.megamenu-container,
    #top nav.navbar li.dropdown .dropdown-menu {
        display: none !important;
        margin-left: 0;
        min-width: 100%;
        width: auto;
        min-height: 100%;
        height: auto;
        position: static;
        margin-top: 0;
    }
    #top nav.navbar li.dropdown.open .dropdown-menu.megamenu-container,
    #top nav.navbar li.dropdown.open .dropdown-menu {
        display: block !important;
        border: none;
        visibility: visible;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        -ms-transition-delay: 0s;
        transition-delay: 0s;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .top-navigation ul li.navigation .navbar .navbar-collapse.collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    #top nav.navbar .dropdown-menu ul.sub-mega-menu > li {
        width: 50%;
    }
    .top .phone-shopping {
        display: inline-block;
        *display: block;
        zoom: 1;
        float: left;
    }
    .top .text-right {
        width: auto;
    }
    .top-navigation {
        text-align: center;
    }
    .top-navigation ul li.navigation {
        width: 100%;
        text-align: center;
    }
    .nav-item .dropdown-menu {
        visibility: visible;
        ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -ms-transition-delay: 0;
        transition-delay: 0;
    }
    .top-navigation ul li.top-logo {
        width: auto;
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 20px 0 10px 0;
        float: none;
    }
    .top-navigation i.fa-user,
    .top-navigation i.fa-heart,
    .top-navigation i.fa-shopping-cart {
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;
        color: #202020;
    }
    .top-navigation .navbar-header,
    .top-navigation .is-mobile {
        display: inline-block !important;
        *display: inline !important;
        zoom: 1 !important;
    }
    .navbar-toggle .icon-bar {
        background: #202020;
        width: 25px;
    }
    .icon-bar-2 {
        background: white !important;
    }
    .navbar-toggle {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-right: 0;
    }
    .top-navigation i.fa-user {
        vertical-align: 5px;
    }
    .top-navigation .mobile-search input {
        width: 95%;
        color: #1e1e1e;
        padding: 5px;
        border: none;
    }
    #mobile-search {
        border: 1px solid #202020;
        background: #fff;
    }
    #mobile-search button.search-submit {
        background: transparent;
        border: transparent;
    }
    .top-navigation .mobile-search {
        margin: 10px 0 20px;
        padding-left: 0;
        padding-right: 0;
    }
    #top nav.navbar .nav > li > a {
        color: #000000;
        font-size: 13px;
        font-weight: 500;
        text-transform: capitalize;
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-navigation .navbar ul.navbar-nav {
        margin: 0;
        float: left;
        display: block;
        background: #ffffff;
        text-align: left;
        width: 100%;
        height: auto;
    }
    #top nav.navbar .nav > li:hover > a span {
        color: #000000;
    }
    .top-navigation .navbar ul.navbar-nav li {
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-collapse {
        background: #ffffff;
    }
    .navbar-collapse ul > li {
        border-bottom: 1px solid #000000;
    }
    .nav-item .dropdown-menu > li {
        border-bottom: none;
    }
    .navbar-collapse ul > li:last-child {
        border-bottom: none;
    }
    .navbar-collapse ul.sub-mega-menu li {
        border-bottom: 0;
    }
    #top nav.navbar .dropdown-menu li.list-title {
        margin-top: 0;
    }
    #top nav.navbar .dropdown-menu {
        padding: 15px 30px;
    }
    /*End Header*/
    /*Main Slideshow*/

    /*End Main Slideshow*/
    /*Home_content*/
    .partners-logo .owl-theme .owl-controls .owl-buttons > div.owl-next {
        margin-right: -15px;
    }
    /*End Home_content*/
    /*Blog*/
    .blogs-item .blogs-image ul li.date {
        margin-top: 5px;
        margin-left: 0;
    }
    /*End Blog*/
    /*Collection*/
    .allcollections-page .container-item .collection-action a {
        top: 283px;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 160%;
    }
    #sandBox {
        margin-left: -15px;
        margin-right: -15px;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 155%;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 150%;
    }
    .collection-page.no_full_width .collection-full #sandBox .element.no_full_width {
        width: 49.9%;
    }
    .element.full_width .row-right .effect-ajax-cart button.select-option {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*End Collection*/
    /*Detail*/
    #product-image,
    #product-image .image.featured {
        display: block;
    }
    .product-image .product-image-thumb li.image {
        padding: 10px 15px;
    }
    .addthis_sharing_toolbox #atstbx a {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-top: 10px;
        padding-bottom: 0;
    }
    #detail-right-column .sharing .unpadding {
        width: auto;
        display: inline-block;
        *display: block;
        zoom: 1;
        margin-right: 10px;
        padding-bottom: 0 !important;
    }
    #detail-right-column .sharing .unpadding:first-child {
        vertical-align: 5px;
    }
    #detail-right-column .sharing {
        margin-top: 20px;
    }
    #gallery_main,
    #gallery_main.mobile_full_width {
        padding: 15px;
    }
    #gallery_main.fix-width .owl-item,
    #gallery_main.mobile_full_width .owl-item {
        width: 90px !important;
    }
    #gallery_main .owl-theme .owl-controls .owl-buttons > div.owl-prev,
    #gallery_main .owl-theme .owl-controls .owl-buttons > div.owl-next {
        top: 0;
        right: 0;
        left: auto;
        margin-top: -61px !important;
        margin-right: 1px;
    }
    #gallery_main .owl-theme .owl-controls .owl-buttons > div.owl-next {
        margin-top: -107px !important;
    }
    #product-info-left,
    #product-info-right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #product-info-right {
        border-left: 0;
    }
    .product-page.no_full_width #gallery_main.no_full_width {
        display: none;
    }
    #product-header {
        margin: 10px 15px;
    }
    #product-information div.relative {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #shopify-product-reviews {
        padding: 10px 0 !important;
    }
    /*End Detail*/
    /*Detail right sidebar*/
    .product-page.no_full_width #gallery_main_xs {
        display: none;
    }
    .detail-right-slidebar.right-slidebar {
        float: none;
    }
    #product-information.no_full_width {
        padding-left: 0;
        padding-top: 20px;
    }
    .product-page.no_full_width #prod-related-wrapper {
        margin-right: 0;
    }
    #product-image.no_full_width {
        padding-left: 0;
        padding-right: 0;
    }
    #gallery_main {
        margin: 0;
        padding: 0;
    }
    #gallery_main.fix-width {
        padding: 15px;
    }
    /*End Detail right sidebar*/
    /*Detail left sidebar*/
    #col-main.product-page.no_full_width.have-left-slidebar {
        float: none;
    }
    .product-page.no_full_width #gallery_main {
        margin: 0;
        padding: 15px 0;
    }
    .product-page.no_full_width #gallery_main .owl-theme .owl-controls .owl-buttons > div.owl-prev {
        top: 5px;
    }
    .product-page.no_full_width #gallery_main .owl-theme .owl-controls .owl-buttons > div.owl-next {
        top: 10px;
    }
    /*End Detail left sidebar*/
    /*Testimonials page*/
    #testimonials .ttm-item {
        width: 100%;
    }
    /*End Testimonials page*/
    /*Price table page*/
    #price-table .pt-item {
        width: 50%;
    }
    #price-table .pt-item:nth-child(2) {
        border-right: 1px solid #ebebeb;
    }
    /*End Price table page*/
}
@media (max-width: 720px){
    .camera_caption.camera_caption_3, 
    .camera_caption.camera_image-caption_3, 
    .camera_cta_3 {
        margin-right: calc((100% - 700px) / 2);
    }
    .camera_wrap .camera_image-caption_1 img,
    .camera_wrap .camera_image-caption_2 img {
        width: 100%;
    }
}
@media (max-width: 667px){
    /*Home Slideshow*/
    .camera_caption.camera_caption_3, 
    .camera_caption.camera_image-caption_3, 
    .camera_cta_3 {
        margin-right: 15px;
    }
    .home-slider-wrapper .camera_caption_3 div,
    .home-slider-wrapper .camera_caption_1 div, 
    .home-slider-wrapper .camera_caption_4 div, 
    .home-slider-wrapper .camera_caption_5 div{
        font-size: 13px;
    }
    /*End Home Slideshow*/
    /*New products _ Homepage*/
    .home_products .element form .row-right a.title-5 {
        line-height: 15px;
    }
    /*End New products _ Homepage*/
    /*Blog*/
    .blogs-item .blogs-image ul li.date {
        margin-top: 30px;
        margin-left: 15px;
    }
    /*End Blog*/
    /*Shopping cart*/
    .cart-items tr td.title-1 {
        font-size: 18px;
    }
    /*End Shopping cart*/
    /*Collection*/
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 163%;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 162%;
    }
    /*End Collection*/
    /*Detail*/
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 140%;
    }
    /*End Detail*/
}
@media (min-width: 640px) and (max-width: 767px){
    /*Homepage*/
    /*End Homepage*/
    /*Collection*/
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 153%;
    }
    /*End Collection*/
}
@media (max-width: 640px) {
    /*Collection*/
    .allcollections-page .container-item .collection-action a {
        top: 160%;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 170%;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 165%;
    }
    /*End Collection*/
    /*Detail*/
    #product-actions .selector-wrapper div.wrapper i.fa {
        left: 71%;
    }
    #product-information .quantity-wrapper span.qty-group span.qty-down{
        left: 35%;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 140%;
    }
    /*End Detail*/
}
@media (max-width: 600px){
    /*Home Slideshow*/
    .home-slider-wrapper .camera_caption_3 div, 
    .home-slider-wrapper .camera_caption_1 div, 
    .home-slider-wrapper .camera_caption_4 div, 
    .home-slider-wrapper .camera_caption_5 div {
        font-size: 11px;
    }
    /*End Home Slideshow*/
    /*New products _ Homepage*/
    .element form .row-left button.wish-list, 
    .element form .row-left .wish-list {
        margin-right: 20px;
    }
    /*End New products _ Homepage*/
    /*Footer*/
    .footer-content .footer-link-list {
        width: 50%;
    }
    .footer-content .footer-link-list:nth-child(2),
    .footer-content .footer-link-list:nth-child(4) {
        padding-right: 0;
        padding-left: 0;
    }
    .footer-content .footer-link-list:nth-child(3) {
        padding-left: 0;
    }
    #widget-newsletter .store-information {
        margin-top: 20px;
    }
    /*End Footer*/
    /*Shopping cart*/
    .cart-items tbody td ul li.image {
        display: block;
    }
    table.cart-items tbody td {
        padding:  38px 0;
    }
    .cart-items tbody td.title {
        padding-top: 10px;
    }
    .cart-items tr td ul {
        padding-top: 0;
    }
    /*End Shopping cart*/
    /*Collection*/
    .allcollections-page .container-item .collection-action a {
        top: 168%;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 143%;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 142%;
    }
    /*End Collection*/
    /*Detail*/
    #product-information .quantity-wrapper span.qty-group span.qty-down {
        left: 34%;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 150%;
    }
    /*End Detail*/
}
@media (min-width: 480px) and (max-width: 600px){
    /*Collection*/
    .allcollections-page .container-item .collection-action a {
        top: 272px;
    }
    /*End Collection*/

}
@media (max-width: 480px) {
    /*Popup Newsletter*/
    .newsletter-popup h4 {
        font-size: 60px;
        margin-top: 30px;
    }
    .newsletter-popup form p {
        font-size: 12px;
        margin-top: 45px;
    }
    .newsletter-popup .group_input,
    .newsletter-popup .group_input input.form-control {
        width: 358px;
    }
    #popup-hide {
        margin-top: 30px;
    }
    #widget-newsletter .newsletter .group_input,#widget-newsletter .newsletter form input { width:100%}
    /*End Popup Newsletter*/
    /*Header*/
    .top-navigation ul li.top-logo {
        padding: 10px 0 0;
    }
    .top-navigation .mobile-search {
        padding: 20px 0;
    }
    .top .phone-shopping {
        display: inline-block;
        float: left;
        padding-right: 0;
    }
    .top div ul.text-right {
        display: inline-block;
        float: right;
        width: auto;
    }
    .top-navigation .mobile-search input {
        width: 93%;
    }
    #top nav.navbar .dropdown-menu ul.sub-mega-menu > li {
        width: 100%;
    }
    /*End Header*/
    /*Home Slideshow*/
    /*Home Slideshow*/
    .home-slider-wrapper .camera_caption_3 div, 
    .home-slider-wrapper .camera_caption_1 div, 
    .home-slider-wrapper .camera_caption_4 div, 
    .home-slider-wrapper .camera_caption_5 div {
        display: none;
    }
    .home-slider-wrapper .camera_caption_1:after, 
    .home-slider-wrapper .camera_caption_1:before {
        display: none;
    }
    .home-slider-wrapper .camera_cta_1, 
    .home-slider-wrapper .camera_cta_4, 
    .home-slider-wrapper .camera_cta_5 {
        margin-top: 10px;
    }
    .home-slider-wrapper .camera_title_2, 
    .home-slider-wrapper .camera_caption_2, 
    .home-slider-wrapper .camera_mc_2, 
    .home-slider-wrapper .camera_cta_2, 
    .camera_caption.camera_image-caption_2 {
        top: 55%;
    }
    .camera_caption.camera_image-caption_2 {
        margin-top: -120px;
    }
    .camera_cta_3 {
        margin-top: 30px;
    }
    /*End Home Slideshow*/
    /*Homepage_Newproduct*/
    #home_products .element.no_full_width {
        width: 50%;
    }
    /*End Homepage_Newproduct*/
    /*Collection*/
    .collection-full #sandBox .element.no_full_width,
    #collections.main-has-slidebar .item {
        width: 50%;
    }
    #sandBox .element.no_full_width {
        width: 50%;
    }
    .allcollections-page .container-item .collection-action a {
        top: 150%;
    }
    #collections {
        margin-left: -15px;
        margin-right: -15px;
    }
    .item {
        width: 49%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 159%;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 158%;
    }
    /*End Collection*/
    /*Collection_sidebar*/
    /*End Collection_sidebar*/
    /*Blog_homepage*/
    .owl-theme .owl-controls {
        margin-right: 20px;
    }
    .blog {
        padding-right: 15px;
    }
    /*End Blog_homepage*/
    .footer-content-bottom .copyright,
    .footer-content-bottom #widget-payment {
        width: 100%;
    }
    #widget-payment ul#payments{
        text-align: left;
    }
    /*Register*/
    #customer-login {
        width: 100%;
    }
    #register-form .form-control {
        width: 100%;
    }
    #customer_orders table thead th {
        padding: 10px;
    }
    /*End Register*/
    /*Order*/
    #order_details_wrapper table tbody td {
        padding: 15px 10px;
    }
    #order_details_wrapper table thead th {
        padding: 14px 10px;
    }
    #order_details_wrapper table tbody td img {
        display: none;
    }
    /*End Order*/
    table.cart-items thead th:nth-child(2),
    .cart-items tr td:nth-child(2) {
        display: none;
    }
    /*Detail*/
    #product-actions .selector-wrapper div.wrapper i.fa {
        left: 90%;
    }
    #product-information .quantity-wrapper span.qty-group span.qty-down {
        left: 0;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 162%;
    }
    #product-header .description {
        margin: 0;
        width: 100%;
        text-align: left;
    }
    #product-information div.relative {
        text-align: left;
    }
    #product-information ul li.tags span {
        display: inline-block;
        *display: block;
        zoom: 1;
    }
    #product-information ul li.tags:after {
        position: static;
        left: none;
        width: 100%;
    }
    #product-actions {
        text-align: left;
    }
    #product-information .options {
        margin: 0;
    }
    .custom-style-select-box-inner {
        width: 100% !important;
    }
    .custom-style-select-box {
        width: 100%;
    }
    .custom-style-select-box {
        padding-right: 0;
    }
    #product-information .options .quantity-wrapper input#quantity {
        width: 100%;
    }
    #product-information .detail-price {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #product-information button#add-to-cart {
        width: calc( 100% - 15px );
    }
    #product-information #product-header .options .line {
        width: 100%;
    }
    #product-information {
        padding-left: 15px;
        padding-right: 15px;
    }
    .swatch {
        justify-content: flex-start !important;
        -moz-justify-content: flex-start !important;
        -ms-justify-content: flex-start !important;
        -webkit-justify-content: flex-start !important;
    }
    #product-header {
        margin: 10px 0;
    }
    /*End Detail*/
    /*Shopping cart*/
    .cart-items tr td ul li.link {
        padding-left: 5px;
    }
    .cart-items tr td form a.btn {
        padding-right: 5px;
    }
    /*End Shopping cart*/
    /*Footer*/
    .footer-content-bottom .copyright {
        margin-bottom: 15px;
    }
    #widget-payment,
    #widget-payment ul > li:first-child {
        padding-left: 0;
    }
    /*End Footer*/
}
@media (max-width: 480px) and (min-width: 420px) {
    /*Collection*/
    .allcollections-page .container-item p.description {
        margin: 0 0 20px;
    }
    /*End Collection*/
}
@media (max-width: 420px) {
    /*Popup Newsletter*/
    .newsletter-popup h4 {
        font-size: 50px;
    }
    .newsletter-popup form p {
        font-size: 10px;
    }
    .newsletter-popup .group_input, 
    .newsletter-popup .group_input input.form-control {
        width: 298px;
    }
    /*End Popup Newsletter*/
    /*Slideshow*/
    .home-slider-wrapper .camera_title_1 a, 
    .home-slider-wrapper .camera_title_3 a,
    .home-slider-wrapper .camera_title_4 a,
    .home-slider-wrapper .camera_title_5 a {
        font-size: 30px;
    }
    .camera_wrap .camera_caption img {
        width: 100%;
    }
    /*End Slideshow*/
    /*Header*/
    .top-navigation .is-mobile ul > li {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .top-navigation .mobile-search input {
        width: 85%;
    }
    .top-navigation {
        display: block;
    }
    .top-other {
        height: 85px;
    }
    .top-other-inner.owl-theme .owl-controls .owl-buttons > div.owl-prev, 
    .top-other-inner.owl-theme .owl-controls .owl-buttons > div.owl-next {
        margin-top: 22px !important;
    }
    /*End Header*/
    /*Home_slideshow*/

    /*End Home_slideshow*/
    /*Newproduct_homepage*/
    .element.no_full_width {
        width: 99.9%;
    }
    .collection-full #sandBox .element.no_full_width, 
    #collections.main-has-slidebar .item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    /*End Newproduct_homepage*/
    /*Footer*/
    .footer-content .footer-link-list {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .footer-content-bottom .copyright, 
    .footer-content-bottom #widget-payment {
        padding-left: 0;
        padding-right: 0;
    }
    #widget-payment ul#payments li.btooltip:first-child {
        padding-left: 0;
    }
    #widget-newsletter .content .left, 
    #widget-newsletter .content .right {
        width: 100%;
        display: block;
    }
    #widget-newsletter .unpadding-top button {
        width: auto;
    }
    /*End Footer*/
    /*Account*/
    #customer_orders table tbody td {
        padding: 34px 5px;
    }
    .unpadding-top button {
        width: 60%;
    }
    /*End Account*/
    /*Shopping cart*/
    .cart-items tr td.title-1 {
        font-size: 10px;
    }
    .cart-items tr td ul li a span.title-5 {
        font-size: 10px;
    }
    .cart-items tr td ul li.link > span {
        font-size: 10px;
        line-height: 10px;
    }
    .cart-items .action button {
        font-size: 9px;
    }
    .cart-items .action button i.fa {
        margin-right: 0;
    }
    table.cart-items thead th {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cart-items tbody td.title {
        padding-left: 5px;
    }
    .cart-items tbody td form a.btn {
        font-size: 11px;
        line-height: 11px;
        margin-right: 5px;
    }
    /*End Shopping cart*/
    /*Search*/
    .search-page form.search-form input.input-block-level {
        width: 100%;
    }
    .search-page form.search-form button.search-submit {
        left: 88%;
    }
    /*End Search*/
    /*Collection*/
    .collection .element .row-left .hoverBorder a.wish-list {
        top: 133%;
    }
    .element.no_full_width {
        padding: 0 15px 50px;
    }
    #sandBox {
        margin-left: 0;
        margin-right: 0;
    }
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 133%;
    }
    .allcollections-page .container-item .collection-action a {
        top: 270px;
    }
    .collection-page.no_full_width .collection-full #sandBox .element.no_full_width {
        width: 100%;
    }
    /*End Collection*/
    /*Detail*/
    #product-information .quantity-wrapper span.qty-group span.qty-down {
        left: 0;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 137%;
    }
    #prod-related-wrapper .prod-related .owl-controls .owl-prev {
        left: -10px;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 175%;
    }
    /*End Detail*/
    /*Price table page*/
    #price-table .pt-item {
        width: 100%;
    }
    #price-table .pt-item {
        border-right: 1px solid #ebebeb;
    }
    /*End Price table page*/
}
/* landscape phones and down */
@media (max-width: 320px){ 
    /*Popup Newsletter*/
    .newsletter-popup h4 {
        font-size: 40px;
    }
    .newsletter-popup .group_input, 
    .newsletter-popup .group_input input.form-control {
        width: 208px;
    }  
    /*End Popup Newsletter*/
    /*Header*/
    .navbar-toggle .icon-bar {
        width: 21px;
    }
    .navbar-toggle {
        padding-left: 0;
        padding-right: 0;
    }
    .top-navigation {
        padding-left: 0;
        padding-right: 0;
    }
    .top-navigation .mobile-search {
        padding: 0;
    }
    /*End header*/
    /*Slideshow*/
    .home-slider-wrapper .camera_title_1 a, 
    .home-slider-wrapper .camera_title_2 a, 
    .home-slider-wrapper .camera_title_3 a {
        font-size: 20px;
        line-height: 20px;
    }
    /*End Slideshow*/
    /*Homepage_Newproduct*/
    #home_products .element.no_full_width {
        width: 100%;
    }
    /*End Homepage_Newproduct*/
    /*Home banner*/
    #home-banner .home-banner-caption p {
        display: none;
    }
    /*End Home banner*/
    /*Blog_homepage*/
    #widget-newsletter .group_input {
        width: 100%;
    }
    /*End Blog_homepage*/
    /*Collection*/
    .collection-full #sandBox .element.no_full_width,
    #collections.main-has-slidebar .item {
        width: 100%;
    }
    #collections.main-has-slidebar .item p.description {
        margin: 0 0 20px;
    }
    #sandBox .element.no_full_width {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .item {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .collection .element .row-left .hoverBorder a.wish-list,
    .collection .element .row-left .hoverBorder form.contact-form {
        top: 147%;
    }
    #collections .collection-details img.img-responsive {
        margin: 0 auto;
    }
    /*End Collection*/
    /*Account*/
    #customer_orders table thead th {
        padding: 10px 5px;
        font-size: 10px;
    }
    #customer_orders table tbody td {
        padding: 34px 0;
    }
    #customer_orders table td a,
    #customer_orders table td span {
        font-size: 12px;
    }
    #order_details_wrapper table tbody td ul > li.link a span {
        font-size: 12px;
        line-height: 15px;
    }
    #order_details_wrapper table tbody td {
        padding-left: 2px;
        padding-right: 2px;
    }
    #order_details_wrapper table thead th {
        padding-left: 2px;
        padding-right: 2px;
    }
    #order_details_wrapper table thead th:nth-child(2),
    #order_details_wrapper table tbody td.sku {
        display: none;
    }
    #customer-login ul.login-wrapper button,
    #register-form li.action-last button {
        width: 60%;
    }
    /*End Account*/
    /*Shopping cart*/
    table.cart-items thead th {
        padding-left: 0;
        padding-right: 0;
        font-size: 9px;
    }
    .cart-items tbody tr {
        padding-left: 0;
        padding-right: 0;
    }
    .cart-items .form-control {
        width: 45px;
    }
    .cart-items tr.bottom-summary td #update-cart {
        font-size: 8px;
        background: none;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    table.cart-items tfoot td {
        padding: 10px 15px;
    }
    .cart-items tbody td.title {
        padding-left: 5px;
    }
    .cart-items tbody td.title li > a {
        font-size: 12px;
        line-height: 15px;
    }
    table.cart-items thead th.text-left {
        padding-left: 5px;
    }
    .cart-items tbody td form a.btn {
        font-size: 9px;
        line-height: 9px;
        margin-right: 5px;
        padding: 10px 9px;
    }
    /*End Shopping cart*/
    /*Search*/
    .search-page form.search-form button.search-submit {
        left: 80%;
    }
    /*End Search*/
    /*Detail*/
    #product-information .quantity-wrapper span.qty-group span.qty-down {
        left: 0;
    }
    #prod-related-wrapper .row-left .hoverBorder a.wish-list {
        top: 145%;
    }
    #product-information .options .variants-wrapper select.single-option-selector {
        width: 100%;
    }
    #shopify-product-reviews .spr-summary-actions a {
        margin-top: 10px;
    }
    #prod-related-wrapper .prod-related .owl-controls .owl-prev {
        left: 5px;
    }
    #prod-related-wrapper .prod-related .owl-controls .owl-next {
        right: 5px;
    }
    #shopify-product-reviews .spr-summary-actions a {
        margin-top: 30px;
    }
    /*End Detail*/
    /*Ajax cart*/
    div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
        width: 290px;
    }
    div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
        margin: 20px 15px;
    }
    /*End Ajax cart*/
    /*Blog*/
    .article-content .date {
        width: 22%;
        float: left;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    .article-content h4 {
        width: calc(100% - 22% - 10px);
        float: left;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }
    /*End Blog*/
}

/*Update Menu Mobile level 2*/
#top nav.navbar li.dropdown.open .dropdown-menu.megamenu-container,
#top nav.navbar li.dropdown.open .dropdown-menu {
    display: block !important;
    border: none;
    margin-top: 0;
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
#top nav.navbar li.dropdown.open .sub-link .dropdown-menu{
    box-shadow: none;
    margin: 0;
}