.integrazap{position:relative!important;z-index:999999999!important}
.integrazap *{vertical-align:initial!important}
.integrazap .integrazap-1-2-1-1-1 img{padding:0!important}
.integrazap-btn-show-wapp{border:0;padding:8px!important;position:fixed!important;bottom:20px!important;right:20px!important;z-index:999999999!important;border-radius:50%!important;outline:0!important;margin-bottom:0!important;cursor:pointer!important;background:#1ebea5!important;line-height:normal!important;font:initial!important}
.integrazap-btn-show-wapp span{background-image:url(https://integrazap.com.br/gadget-v.1/imagem/whatsapp-logo.svg)!important;background-size:205px!important;background-repeat:no-repeat;font-size:37px!important;width:58px!important;height:56px!important;display:inline-block!important;font-size:inherit!important;text-rendering:auto!important;-webkit-font-smoothing:antialiased!important;-moz-osx-font-smoothing:grayscale!important;margin-right:0!important}
.integrazap-btn-show-wapp span:before{visibility:hidden!important}.integrazap-label-wapp{z-index:99999999!important;position:fixed!important;bottom:108px!important;right:25px!important;background:#1ebea5!important;-webkit-border-radius:5px!important;-moz-border-radius:5px!important;border-radius:5px!important;text-align:center!important;padding:5px 7px!important}
.integrazap-btn-show-wapp{animation:pulse 1s ease infinite alternate,nudge 1s linear infinite alternate}
.integrazap-label-wapp a{font:11px/16px Arial;color:#00746a;text-decoration:none;display:none!important}
.integrazap-label-wapp:before{width:inherit!important;font-family:Arial,sans-serif!important;position:relative!important;content:'Chamar no WhatsApp'!important;font-size:14px!important;vertical-align:middle!important;text-align:center!important;color:#fff!important;text-decoration:none!important;display:block!important}
.integrazap-label-wapp:after{content:''!important;position:absolute!important;border-style:solid!important;border-width:15px 14px 0!important;border-color:#1ebea5 transparent!important;display:block!important;width:0!important;z-index:1!important;bottom:-15px!important;right:10px!important}
.integrazap-label-wapp p{color:#fff!important;font-size:16px!important;line-height:normal!important;vertical-align:middle!important;margin:14px auto!important;text-align:center!important}
.integrazap-label-wapp p a,.integrazap-label-wapp p a:active,.integrazap-label-wapp p a:hover{color:#fff!important;text-decoration:none!important}
.integrazap-background{position:fixed;top:0;bottom:0;left:0;right:0;display:none}@keyframes nudge{0%,100%{transform:translate(0,1px)}50%{transform:translate(0,1px)}80%{transform:translate(0,13px)}}
.integrazap .integrazap-1{font-family:Arial,sans-serif!important;display:flex;padding:15px;right:-500px;z-index:999999999;position:fixed;bottom:0;top:0!important;background:rgba(0,0,0,.7)!important;overflow-x:hidden;overflow-y:auto;transition:.5s}
.integrazap .integrazap-1 *{box-sizing:border-box;margin:0!important}
.integrazap .integrazap-1 .wapp-header .closebtn{position:absolute;top:15px;right:15px;font-size:30px;line-height:20px;color:#fff!important;text-decoration:none;background:#009688;padding:10px;text-align:center;z-index:9999999}
.integrazap-btn-show-wapp-stick{-webkit-animation-name:show-wapp-stick;-webkit-animation-duration:1s;animation-name:show-wapp-stick;animation-duration:1s}@keyframes show-wapp-stick{0%{right:-100px;opacity:0}}
.integrazap-btn-show-wapp-stick{transition:transform .25s;padding:7px 100px 7px 8px!important;position:fixed!important;right:-10px;z-index:99999999!important;border-radius:100px 0 0 100px!important;cursor:pointer!important;background-color:rgba(0,174,44,.76);line-height:normal!important;font:initial!important;border:0!important;outline:0!important;margin:0!important}
.integrazap-btn-show-wapp-stick.p-top{top:3%}.integrazap-btn-show-wapp-stick.p-center{top:calc(50% - 26.5px)}
.integrazap-btn-show-wapp-stick.p-bottom{bottom:4%}
.integrazap-btn-show-wapp-stick span.wapp-icon{background-image:url(https://integrazap.com.br/gadget-v.1/imagem/whatsapp-logo.svg)!important;background-size:140px!important;background-repeat:no-repeat!important;background-position-y:center!important;width:40px!important;height:40px!important;display:inline-block!important;font-size:inherit!important;text-rendering:auto!important;margin-right:0!important;color:#fff!important;float:left!important}
.integrazap-btn-show-wapp-stick:before{content:'1';width:15px;height:15px;border-radius:50%!important;opacity:0;background-color:red!important;height:15px;position:absolute;font-size:10px;font-weight:700;font-family:Poppins,sans-serif;text-align:center;color:#fff;line-height:15px;animation:wapp_stick_icon_pulse_animation_msg .2s forwards;animation-delay:15s}
.integrazap-btn-show-wapp-stick:after{content:''!important;border-radius:50%!important;background-color:#00e676!important;position:absolute!important;left:10px!important;top:9px!important;width:36px!important;height:36px!important;animation:wapp_stick_icon_pulse_animation 1.3s infinite!important;z-index:-1!important}@keyframes wapp_stick_icon_pulse_animation{0%{box-shadow:0 0 0 0 rgba(0,230,118,.8)}100%{box-shadow:0 0 0 25px transparent}}@keyframes wapp_stick_icon_pulse_animation_msg{0%{opacity:0;transform:translateY(-10px)}100%{opacity:1;transform:translateY(0px)}}
.integrazap-btn-show-wapp-stick span.wapp-icon:before,.integrazap-btn-show-wapp-stick span.wapp-icon:after{font-family:Poppins,Arial,sans-serif;line-height:20px;white-space:nowrap;position:absolute;opacity:1;-webkit-transition:opacity .25s linear;-o-transition:opacity .25s linear;transition:opacity .25s}
.integrazap-btn-show-wapp-stick span.wapp-icon:before{content:'chamar no';font-size:12px;top:10px;left:56px;opacity:.9;color:#fff}
.integrazap-btn-show-wapp-stick span.wapp-icon:after{content:'WhatsApp';font-family:Arial,sans-serif;font-size:14px;font-weight:500;bottom:10px;left:56px;opacity:.95;color:#fff}
.integrazap-btn-show-wapp-stick.is-hidden{transform:translateX(80px);display:block!important}
.integrazap-btn-show-wapp-stick.is-hidden span.wapp-icon:before,.integrazap-btn-show-wapp-stick.is-hidden span.wapp-icon:after{opacity:0}
.integrazap-btn-show-wapp-stick.is-visible,.integrazap-btn-show-wapp-stick.is-hidden:hover{transform:translateX(-4%)}
.integrazap-btn-show-wapp-stick.is-hidden:hover span.wapp-icon:before,.integrazap-btn-show-wapp-stick.is-hidden:hover span.wapp-icon:after{opacity:1}
.integrazap .integrazap-1 .integrazap-1-2 input,.integrazap .integrazap-1 .integrazap-1-2 textarea{outline:none!important;border:none!important}
.integrazap .integrazap-1 .integrazap-1-2 input.firstname{display:none}.integrazap .integrazap-1 .integrazap-1-2 textarea{min-height:92px!important}
.integrazap .integrazap-1 textarea:focus,.integrazap .integrazap-1 input:focus{border-color:transparent!important}
.integrazap .integrazap-1 .integrazap-1-2 .nome{text-transform:capitalize!important}.integrazap .integrazap-1 .integrazap-1-2 .email{text-transform:lowercase!important}
.integrazap .integrazap-1 .integrazap-1-2 .email::placeholder{text-transform:lowercase!none}
.integrazap .integrazap-1 .integrazap-1-2{width:100%!important;margin:auto!important;max-width:370px!important;height:495px!important;background:#e9e9e9!important;border-radius:8px!important;overflow:hidden!important;display:block!important;flex-wrap:wrap!important;justify-content:space-between!important;clear:both!important;align-items:center!important;vertical-align:middle!important;position:relative!important;z-index:999!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1{width:100%!important;padding:14px 10px!important;float:left!important;background:#009688!important;color:#fff!important;height:auto!important;min-height:auto!important;position:absolute!important;left:0!important;z-index:2!important;top:0!important;text-align:left!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .integrazap-1-2-1-1-1{margin-bottom:0!important;width:60px!important;height:52px!important;border-radius:50%!important;overflow:hidden!important;vertical-align:middle!important;display:flex!important;align-items:center!important;padding:0!important;float:left!important;top:0!important;position:relative!important;min-height:auto!important;max-height:auto!important;min-width:auto!important;max-width:auto!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .integrazap-1-2-1-1-1 a{width:100%!important;height:auto!important;line-height:normal!important}.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .integrazap-1-2-1-1-1 img{width:166px!important;position:relative!important;left:10px!important;line-height:normal!important;max-width:none!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .info{background:0 0!important;border:0!important;width:73%!important;padding:0 0 0 10px!important;float:left!important;text-align:left!important}.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .info span{clear:both!important;display:block!important;line-height:1.42857143!important;font-size:12px!important;color:#fff!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .info span.status::before{content:' '!important;width:5px!important;height:5px!important;margin:6px 3px 0 0!important;background:#4be726!important;float:left!important;border-radius:50%!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-1 .info span.nome-empresa{font-size:13px!important;font-weight:700!important}.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1{width:100%!important;height:100vh!important;padding:95px 15px 0!important;clear:both!important;position:relative!important}.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .title{font-size:14px!important;padding:6px!important;margin-bottom:10px!important;border-radius:4px!important;margin-top:0!important;line-height:1.42857143!important;width:100%!important;height:auto!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-3{border:none;background:0 0!important;text-align:left!important;display:block!important;position:relative!important;bottom:-22px!important;padding:0!important}
.integrazap .integrazap-1 .integrazap-1-2 .integrazap-1-2-1 .integrazap-1-2-1-3 img{width:64px!important}.integrazap .integrazap-1 .integrazap-1-2 .box-campos{position:relative!important;width:100%!important;z-index:1!important;margin-bottom:8px!important;display:inline-block!important}
.integrazap .integrazap-1 .integrazap-1-2 .campo{box-shadow:none!important;color:#666!important;font-size:14px!important;display:block!important;width:100%!important;background:#fff!important;border-radius:25px!important;padding:14px 30px 14px 58px!important;height:auto!important;line-height:14px!important}
.integrazap .modal-wapp .form-wapp .campo::placeholder{color:#999!important}.integrazap .modal-wapp .form-wapp .campo::placeholder::first-letter{text-transform:uppercase!important}
.integrazap .integrazap-1 .integrazap-1-2 .campo+.icon{font-size:15px!important;display:-webkit-box!important;display:-webkit-flex!important;display:-moz-box!important;display:-ms-flexbox!important;display:flex!important;align-items:center!important;position:absolute!important;border-radius:25px!important;bottom:0!important;left:0!important;height:100%!important;padding-left:25px!important;pointer-events:none!important;color:#57b846!important;-webkit-transition:all .4s!important;-o-transition:all .4s!important;-moz-transition:all .4s!important;transition:all .4s!important;width:auto!important}
.integrazap .integrazap-1 .integrazap-1-2 .campo:focus+.icon{color:#0c0!important;padding-left:28px!important}
.integrazap .integrazap-1 .integrazap-1-2 .alert-validate .campo+.icon{color:#b96766!important}.integrazap .integrazap-1 .integrazap-1-2 .validate-input{position:relative!important}.integrazap .integrazap-1 .integrazap-1-2 .alert-validate::after{content:"!"!important;width:18px!important;height:18px!important;border-radius:50%!important;background:#c80000!important;text-align:center!important;color:#fff!important;display:block!important;position:absolute!important;font-size:12px!important;font-weight:700!important;line-height:18px!important;top:50%!important;-webkit-transform:translateY(-50%)!important;-moz-transform:translateY(-50%)!important;-ms-transform:translateY(-50%)!important;-o-transform:translateY(-50%)!important;transform:translateY(-50%)!important;right:13px!important}
.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn{text-align:center!important}
.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn .submit{font-weight:500!important;text-transform:lowercase!important;font-size:14px!important;line-height:1.5!important;color:#fff!important;width:120px!important;border-radius:25px!important;background:#3dc15e!important;align-items:center!important;padding:10px!important;-webkit-transition:all .4s!important;-o-transition:all .4s!important;-moz-transition:all .4s!important;transition:all .4s!important;margin:auto!important;float:none!important;outline:none!important;height:auto!important}
.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn .submit:hover,.form-wapp .container-form-btn .submit:focus{background:#068377!important;color:#fff!important}.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn .submit:focus{background:#068377!important}.integrazap .integrazap-1 .text-center{text-align:center!important}.integrazap .integrazap-1 .alert{padding:15px!important;margin-bottom:20px!important;border:1px solid transparent!important;border-radius:4px!important}
.integrazap .integrazap-1 .alert-warning{color:#8a6d3b!important;background-color:#fcf8e3!important;border-color:#faebcc!important;background-image:none!important;box-shadow:none!important}
.integrazap .integrazap-1 .alert-danger{color:#a94442!important;background-color:#f2dede!important;border-color:#ebccd1!important}
.integrazap .integrazap-1 .btn{display:inline-block!important;padding:6px 12px!important;margin-bottom:0!important;font-size:14px!important;font-weight:400!important;line-height:1.42857143!important;text-align:center!important;white-space:nowrap!important;vertical-align:middle!important;-ms-touch-action:manipulation!important;touch-action:manipulation!important;cursor:pointer!important;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important;background-image:none!important;border:1px solid transparent!important;border-radius:4px!important}
.integrazap .integrazap-1 button,.integrazap .integrazap-1 input,.integrazap .integrazap-1 optgroup,.integrazap .integrazap-1 select,.integrazap .integrazap-1 textarea{font:inherit!important}.integrazap .form-wapp .campo:focus+.icon svg path{fill:#0c0!important}.integrazap .pResponseForm{color:#000!important;font-size:15px!important;font-family:Arial,sans-serif!important;margin:20px 0!important;text-align:center!important}
.integrazap .pResponseForm strong{display:block!important;padding-bottom:4px!important}
.integrazap .pResponseForm span b{font-weight:700!important}
.integrazap .hiddenBox{display:none!important}
.integrazap .showForm{display:block!important}
.integrazap .dataEnvio{font-size:13px!important}
.integrazap .btn-success{color:#fff!important;background-color:#5cb85c!important;border-color:#4cae4c!important;text-decoration:none!important}
.integrazap .btn-success:hover{background-color:#449d44!important;border-color:#398439!important}
.integrazap .spinnerIcon{border:2px solid rgba(255,255,255);border-left-color:#22a6b3;border-radius:50%;display:inline-block;height:15px;width:15px;animation:spinIcon 1s linear infinite;vertical-align:middle}
.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn .submit span,.integrazap .integrazap-1 .integrazap-1-2 .container-form-btn .submit svg{vertical-align:middle!important}::-webkit-resizer{background:0 0!important}@keyframes spinIcon{to{transform:rotate(360deg)}}

@media screen and (max-width:768px){
    .integrazap .integrazap-1{display:block!important}
    .integrazap .integrazap-1 .wapp-header .closebtn{right:calc(50% - 185px)}
}
@media screen and (max-width: 400px) {
    .integrazap .integrazap-1 .wapp-header .closebtn{right:calc(50% - 45.4%)!important}
    @media screen and (max-width:360px){
        .integrazap .integrazap-1 .integrazap-1-2{width:100%!important;border-radius:0!important}
        @media screen and (max-width:350px){}
        @media(max-width:320px){
            .integrazap .integrazap-1 .integrazap-1-2{width:100%!important}
        }
        jdiv{display:none!important}}}

    .integrazap-1 {
        font-family: Arial,sans-serif!important;
        display: flex;
        padding: 15px;
        right: -500px;
        z-index: 999999999;
        position: fixed;
        bottom: 0;
        top: 0!important;
        background: rgba(0,0,0,.7)!important;
        overflow-x: hidden;
        overflow-y: auto;
        transition: .5s;
    }
    .integrazap-1-2 {
        top: 13%;
        width: 100%!important;
        margin: auto!important;
        max-width: 370px!important;
        height: 495px!important;
        background: #e9e9e9!important;
        border-radius: 8px!important;
        overflow: hidden!important;
        display: block!important;
        flex-wrap: wrap!important;
        justify-content: space-between!important;
        clear: both!important;
        align-items: center!important;
        vertical-align: middle!important;
        position: relative!important;
        z-index: 999!important;
    }
    .integrazap-1-2-1 {
        width: 100%!important;
        height: 100vh!important;
        padding: 95px 15px 0!important;
        clear: both!important;
        position: relative!important;
    }

    .integrazap-1-2-1-1 {
        width: 100%!important;
        padding: 14px 10px!important;
        float: left!important;
        background: #009688!important;
        color: #fff!important;
        height: auto!important;
        min-height: auto!important;
        position: absolute!important;
        left: 0!important;
        z-index: 2!important;
        top: 0!important;
        text-align: left!important;
    }

    .info{
        text-align: center;
    }

    .btn-send{
        font-weight: 500!important;
        line-height: 1.5!important;
        color: #fff!important;
        width: 120px!important;
        border-radius: 25px!important;
        background: #3dc15e!important;
        align-items: center!important;
        padding: 10px!important;
        -webkit-transition: all .4s!important;
        -o-transition: all .4s!important;
        -moz-transition: all .4s!important;
        transition: all .4s!important;
        margin: auto!important;
        float: none!important;
        outline: none!important;
        height: auto!important;
    }

    .detalhe-valor{
        font-size: 30px; 
        font-weight: 600;
        text-align: left;
        line-height: normal;
        margin: 0px;
    }

    .prod-descricao {
        float: top;
        margin-left: 15px;
        margin-right: 15px;
    }

    .h2-nome-prod{
        color: black;
        font-weight: bold
    }

    .prod-valores{
        margin-left: 15px;
        margin-right: 15px;
    }

    .green-color{
        color: rgb(64, 205, 40);
    }

    .text-center-important{
        text-align: center !important;
    }

    .carrinho-foto{
        width: 125px;
        height: 125px;
        margin-left: 15px;
    }

    .mais-menos{
        display: flex;
        align-items: baseline;
    }

    .cursor-pointer{
        cursor: pointer;
    }

    .remover-prod{
        cursor: pointer;
        margin-right: 15px;
    }

    .icone-lixeira-20{
        font-size: 20px !important;
    }

    .produto-total{
        align-items: flex-end;
        margin-right: -20px;
        margin-left: -20px;
        padding: 20px;
        border-radius: 3px;
        background-color: #f4f4f4;
        box-shadow: inset 0 -5px 0 -2px #0083ca;
    }

    .total-size-22{
        font-size: 22px;
    }

    .resultado-itens{
        color: #a07936; 
        font-size: 18px;
    }

    .carrinho-topo{
        position: absolute;
        height: 350px;
        overflow-y: auto;
    }
    
    .produto-12px{
        font-size:12px;
        color: black;
    }
    
    .produto-quantidade{
        font-size:11px;
        color: darkgrey;
        text-transform: none;
    }
    
    .ver-meu-carrinho{
        background-color: #ccc;
        margin-bottom: -5px;
        margin-top: -5px;
    }
    
    .meu-carrinho-total{
        font-size:12px;
        color: black;
        float: right;
        margin-top: 12px;
        margin-right: 12px;
    }