/**********************************************
  ELEMENTOS PADRÃO (EXTERNOS)
***********************************************/
@import url('color.css');

/*************************************
  GERAL
**************************************/
.transparent{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
/* .transparent:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #07C4EF, #F7D406);
  opacity: 0.4;
} */

/************* PADDINGS ************ */
.pdl-2{
    padding-left: 20px;
}
.pdr-2{
    padding-right: 20px;
}
/************* MARGINS ************ */
.mgt-2{
    margin-top: 20px;
}
.mgb-2{
    margin-bottom: 20px;
}
.mgl-2{
    margin-left: 20px;
}
.mgr-2{
    margin-right: 20px;
}

/*************************************
  LOGIN
**************************************/
.auth-content label.error{
    display: block;
    font-size: 11px;
    text-align: center;
    color: var(--red);
    margin: 0;
}
.copyright{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    color: #fff;
}
.copyright span{
    font-size: 11px;
    display: block;
    padding: 5px;
}
.copyright span img{
    width: 20px;
    position: relative;
    top: -1px;
}
.copyright .gov{
    text-align: left;
}
.copyright .all{
    text-align: right;
}
@media (max-width: 992px) {
    .auth-content h1{
        width: calc(310px - 3rem);
    }
    .copyright span{
        padding: 0 5px;
    }
    .copyright .gov,
    .copyright .all {
        text-align: center;
    }
    .copyright .all {
        padding-bottom: 5px;
    }
    .auth-layout-wrap {
        min-height: calc(100vh - 23px);
    }
}
@media (max-width: 767px) {
    .auth-layout-wrap {
        min-height: calc(100vh - 45px);
    }
}
/*************************************
  RODAPÉ INTERNO
**************************************/
.app-footer{
    padding: 10px;
}
.nav.nav-server{
    background-color: #9850e0;
    padding: 10px;
}
.nav.nav-server li a{
    color: var(--font-white);
    font-weight: 600;
    font-size: 15px;
}
.tab-content {
    /* background-color: var(--bg-gray-light); */
    padding: 20px 0 0;
}

/*************************************
  LISTAS COM TABELA
**************************************/
.dataTables_scrollBody{
    margin-bottom: 20px;
}
.table thead tr th,
.table tbody tr td{
    vertical-align: middle;
}
.table tbody tr td a{
    cursor: pointer;
}
.table tbody tr td a i{
    font-size: 18px;
}
.dataTables_scrollBody{
    height: auto !important;
}

/*************************************
  STATUS
**************************************/
.st{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
}
.st h1{
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 24px;
}
.st span{
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 0 0 5px;
    margin: 0;
}
.st-approved{
    background-color: rgb(70, 205, 147);
    color: var(--font-white);
}
.st-approved h1{
    color: var(--font-white);
}
.st-returned{
    background-color: rgb(248, 33, 22);
    color: var(--font-white);
}
.st-returned h1{
    color: var(--font-white);
}
.st-waiting{
    background-color: rgb(253, 177, 44);
    color: var(--font-black);
}
.st-waiting h1{
    color: var(--font-black);
}
.st-registered{
    background-color: rgb(101, 91, 230);
    color: var(--font-white);
}
.st-registered h1{
    color: var(--font-white);
}


/*************************************
  TAB'S
**************************************/

.tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 2px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, .06), 0 1px 4px rgba(0, 0, 0, .08);
}
/* .tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
} */
.tab {
    display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 20;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 20;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 20;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 20;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 20;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}
.tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}
.tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    font-weight: 700;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
}
.tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
    padding: 10px 0 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 2px;
}

/*************************************
  DASHBOARD
**************************************/
a.details-organ .card{
    border: solid 1px #ddd;
}
a.details-organ:hover .card{
    background-color: var(--bg-grey-5);
}
.text-explanatory{
    display: block;
    width: 100%;
}

.chart{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.chart .bar-empty{
    background-color: var(--bg-grey-10);
    position: relative;
    height: 5px;
}
.chart .bar-empty .bar-full{
    background-color: red;
    position: absolute;
    width: 50%;
    height: 5px;
    top: 0;
    left: 0;
}


/*************************************
  FORM'S
**************************************/
.error {
    font-size: 10px !important;
    color: red !important;
}
.card fieldset legend{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: solid 1px var(--bg-gray-medium);
}
.select2-container--default .select2-selection--single{
    height: 33px !important;
    border: 1px solid #ced4da !important;
    background: #f8f9fa !important; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 33px !important;
}
.card .card-header .card-title{
    color: #fff;
    text-transform: uppercase;
}
.card .card-body .row .col-lg-3 .p-4:hover {
    border: 1px solid #3875d7 !important;
}
.card .card-body label{ text-transform: uppercase; }
.badge-dados {
    width: 80px;
}
.card .card-body table tbody tr td.acao a{
    border-right: solid 1px #c1c1c1;
    padding-right: 5px;
}
.card .card-body table tbody tr td.acao a:last-child{
    padding: 0;
    border: 0;
}
table tbody tr.odd{ background-color: #f1f1f1; }


.element-menu{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.element-menu .box{
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.element-menu .box .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    text-align: center;
    color: #007bff;
    border: solid 2px #007bff;
    margin-left: auto;
    margin-right: auto;
}

.element-menu .box .face i{
    font-size: 80px;
}

.element-menu .box .face.face1{
    position: relative;
    background: #fff;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.element-menu .box:hover .face.face1{
    background: #007BFF;
    transform: translateY(0);
}

.element-menu .box .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.element-menu .box:hover .face.face1 .content{
    opacity: 1;
}

/* .element-menu .box .face.face1 .content img{
    max-width: 100px;
} */

.element-menu .box .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.element-menu .box .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
    transform: translateY(-100px);
}

.element-menu .box:hover .face.face2{
    transform: translateY(0);
}

/* .element-menu .box .face.face2 .content p{
    margin: 0;
    padding: 0;
} */

.element-menu .box .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
}

.info-box{
    border: solid 1px #007bff;
    margin: 30px 0;
    border-radius: 3px;
}
.info-box h4{
    font-size: 1em;
    font-weight: bold;
    color: #007bff;
    border-bottom: solid 1px #007bff;
    padding: 15px;
}
.info-box .text-box{
    padding: 15px;
}

.info h3{
    border-bottom: solid 1px #007bff;
    min-height: 40px;
    line-height: 40px;
    font-size: 1.2em;
}